@tailwind base;
@tailwind components;
@tailwind utilities;

#icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
    margin-right: 50px;
    margin-top: 48px;
}

#icons:hover {
    color: rgb(205, 94, 53);
}

@media screen and (max-width: 768px) {
    #icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        color: white;
        margin-right: 50px;
        margin-top: 48px;
    }
}

/* Hamburger Menu */
#menu-btn{
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    color: #000;
}

.menu-btn-top,
.menu-btn-middle,
.menu-btn-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.menu-btn-middle {
    transform: translateY(7px);
}

.menu-btn-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@media screen and (max-width: 768px) {
    .hamburger {
        cursor: pointer;
        width: 24px;
        height: 24px;
        transition: all 0.25s;
        position: relative;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 2px;
        background: #000;
        transform: rotate(0);
        transition: all 0.5s;
    }

    .hamburger-middle {
        transform: translateY(7px);
    }

    .hamburger-bottom {
        transform: translateY(14px);
    }

    .open {
        transform: rotate(90deg);
        transform: translateY(0px);
    }

    .open .hamburger-top {
        transform: rotate(45deg) translateY(6px) translate(6px);
    }

    .open .hamburger-middle {
        display: none;
    }

    .open .hamburger-bottom {
        transform: rotate(-45deg) translateY(6px) translate(-6px);
    }
}